html,
body,
#root {
  height: 100%;
  margin: 0;
}

.qrescue-landing {
  width: 100%;
}

.left-section,
.right-section {
  flex: 1;
  min-height: 50vh;
}

.divider {
  width: 2px;
  background-color: gray;
}

@media (max-width: 768px) {
  .divider {
    height: 2px;
    width: 100%;
  }

  .left-section,
  .right-section {
    min-height: auto;
  }
}
